{% extends 'admins/adminbase.html'  %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1 class="text-center shadow p-3 mb-2 text-light  fw-light" style="background-color: #2155CD">Forbidden Words</h1>
            <br>
            <div>
              <center>
                <a class="btn "  href="/admins/forbiddenwordform" style="background-color: #2155CD ; color: white">Add Forbidden Word</a>
              </center>
            </div>
          </div><!-- /.col -->
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
   

    <!-- Main content -->
    <div class="container-fluid ">
      <div class="row">
        <div class="col-12 md-6 sm-6">
        <table style="text-align : center;" class="table table-lg table " style="background-color: #2155CD">
          <thead style="background-color: #2155CD ; color: white">
            <tr>
              <th class="col-6" scope="col">Forbidden Words </th>
              <th class="col-6" scope="col" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody style="background-color: #2155CD ; color: white">
            <!-- Put all the forbidden words in the table  -->
            {% for word in forbidden_words %}
           <tr style="background-color:	#2155CD">
           <td>{{word.forbidden_word}}</td>
           <td style="background-color:	#2155CD" colspan="5" style="text-align:center; padding:15px;">
            <!-- Two Buttons for delete and edit the forbidden words -->
           <a class="btn btn-danger" ; " href="/admins/delforbidden/{{ word.id }}">Delete</a>
           <a class="btn" style="background-color: gold; " href="/admins/editforbidden/{{ word.id }}">Edit</a>
           </td>         
          </tr> 
          {%endfor%}
          </tbody>
        </table>
        </div>
      </div>
    </div>

    {% endblock %}
