{% extends 'core/indexbase.html' %}
{% load static %}
{%block title%}
Create post
{%endblock%}


{% block main_block %}
    <form class="container" method='POST' enctype="multipart/form-data" >{% csrf_token %}
        <div class="row shadow p-4 mb-4 mt-4 ">

            <div class="col-12">
                <h3 class="text-center text-light  p-2 fw-light bg-opacity-75 " style="background-color: #069A8E">Add New Post</h3>
                <div class="mb-4" > <strong>{{post.title.label}}        {{post.title}} </strong></div>
                <div class="mb-4"><strong> {{post.content.label}}     {{post.content}}<strong></div>
                <div class="mb-4"> <strong>{{post.picture.label}}     {{post.picture}}<strong></div>
                <div class="mb-4"> <strong>{{post.category.label}}     {{post.category}}<strong></div>
                <div class="mb-4"><strong>{{post.tags.label}}     {{post.tags}}<strong></div>


            </div>
        </div><br>
    
        <input type="submit" value="Post" class=" btn "  style="background-color: #069A8E ; color: white"/>
        <input type="reset" value="Reset" class=" btn " style="background-color: #A1E3D8 "/>
    
    </form>
    
{% endblock %}
