{% extends 'core/indexbase.html'%}
{% load crispy_forms_tags %}
{% load static%}
{%block title%}
{{post.title}}
{%endblock%}
{% block main_block %}

<head>
     <link rel="stylesheet" href="{% static 'core/css/details.css' %}">
     <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
</head>
<body>
     

     <br>
     <div class="container" style="width: 60vw;">
          <div class="post-header" >
               <img src="{{post.user.profile.profileimg.url}}" class="avatar" alt="avatar-img"  >
               <div class="post-user  " ><span class="username">@{{post.user.username}}</span>
          </div>

     </div>
<div class="container">
     <div class="shadow p-3 mb-5 bg-white rounded" style="width: 60vw; ">
     <img src="{{ post.get_picture_url }} " class="postimg">
     <div class="cardbody">
          <div class="details">
             <span class="post-title">{{post.title}}</span>
               <div class="info">
               <p class="cdate">{{post.created_at}}</p>

          </div>


             <p class="content">{{post.content}}</p>
               <p class="cat"><span style="font-weight: bold;"> Category </span> : {{post.category}}</p>
          <div class="tags" >
               <span style="font-weight: bold; margin-top: 5px;" >Tags :</span>
               {% for tag in post.tags.all %}
               <a href="{% url 'tagged' tag.slug %}" class="tag">#{{ tag }}</a>
               {% endfor %}
               </div>
              </div>
<hr>

                 <div class="d-flex flex-row">
                       <form method="POST" action="{% url 'like' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                            <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                            </button>
                       </form>

                       <form method="POST" action="{% url 'dislike' post.pk %}">
                             {% csrf_token %}
                             <input type="hidden" name="next" value="{{ request.path }}">
                             <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                             <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                             </button>
                       </form>
                 </div><hr>

                 <!-- Comment section -->

             <div class="commentsection">
                  <p><strong>Add Comment</strong>  &nbsp;<i class="fas fa-comment"></i></p>
                  {% for comment in comments%}
                  {% if comment.is_parent %}
                    <div class="comment">
                   <div class="imgandcomment">
                    <img src="{{comment.user.profile.profileimg.url}}" class="commentavatar " alt="avatar-img" width="50px" height="50px">
                    <p class="comcon">{{comment.content}}</p>
                    </div>
                    <div class="undercomment">
                    <p class="commentuser">@{{comment.user}} </p> 
                    <p class="cdate"> {{comment.created_on}}</p>
                    {%if user.is_authenticated%}
                             {% if user.id == post.user.id or user.id == comment.user.id %}
                    <a href="{{comment.get_deletecomment_url}} " class="delcomment"><i class="fas fa-trash"></i></a>
                           {% endif%}
                        {% endif%}

                    </div>
               </div>
                      <div class="d-flex flex-row" style="margin-top:-20px ; margin-left: 10px;">
                       <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                            <small><i class="far fa-thumbs-up"> <span>{{ comment.likes.all.count }}</span></i></small>
                            </button>
                       </form>

                       <form method="POST" action="{% url 'comment-dislike' post.pk comment.pk %}">
                             {% csrf_token %}
                             <input type="hidden" name="next" value="{{ request.path }}">
                             <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                             <small><i class="far fa-thumbs-down"> <span>{{ comment.dislikes.all.count }}</span></i></small>
                             </button>
                       </form>
                       <div>
                           <i class="fa-solid fa-reply replaybtn"onclick="commentReplyToggle('{{ comment.pk }}')"></i>
                       </div>

                 </div>
                    <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ comment.pk }}">
                      <form method="post" action="{% url 'comment-reply' post.pk comment.pk %}" align="left">
                         {% csrf_token %}
                         <div class="replayform" style="  display: flex; flex-direction: column;gap: 100px; align-items: center;">
                         <div class="replaysection" style="width: 70%; ">Replay : {{form}}</div>

                          <button type="submit" class="tag">Replay</button>
                         </div>
                      </form>
                   </div>
                   <div class="replay">
                            {% for child_comment in comment.children%}
                            
                            <div class="imgandcomment">
                              <img src="{{child_comment.user.profile.profileimg.url}}" class="commentavatar " alt="avatar-img" width="40px" height="40px">
                              <p class="comcon">{{child_comment.content}}</p>
                              </div>
                              <div class="undercomment">
                                   <p class="commentuser">@{{child_comment.user}} </p> 
                                   <p class="cdate"> {{child_comment.created_on}}</p>
                                   </div>

                            {% endfor %}
                              </div>
                            <hr>
                 {% endif%}



                 {% endfor %}
                 
             </div>
                  <form method="post" enctype="multipart/form-data" >
                   {% csrf_token %}
                    {{form}}
                   <br><button type="submit" class="tag" style="margin:-5px auto ; padding:10px;">Comment</button>
                </form><hr>
             <a href="{% url 'post'%}" class="tag2" >   Back   </a>
                        {%if user.is_authenticated%}
                             {% if user.id == post.user.id  %}
                                  <a href="{{post.get_edit_url}}" class="tag2" >   Edit Post   </a>
                                  <a href="{{post.get_delete_url}} " class="delete" >   Delete  </a>
                             {% endif%}
                        {% endif%}


         </div>
     </div>
</div>
</body>





<script type="text/javascript" src="{% static 'core/js/post.js'%}"


{% endblock %}