
{% extends 'core/indexbase.html'%}
{% load static %}
{%block title%}
Edit profile
{%endblock%}
{% block main_block %}
<head>
  <link rel="stylesheet" href="{% static 'core/css/profileedit.css' %}">
</head>
<body>
  
  <div class="container">
    <br>

    <span class="title">Edit your profile</span>
    <br>
    <br>

    <div class="shadow p-2 mb-5 mt-1 bg-light rounded" >

        <form id="f1" class="row g-3" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form">
    <div class="imgandbtn">
       <div class="graphics">
            <img class='graphic-img' src="/media/profile-graphic.svg" alt="" width="400px" ,height="400px" >
        </div>

    </div>
  
    <div class="info">
       <div>
        <label for="inputEmail4" class="form-label"> Profile Image </label><br><br>
      <img width="110" height="100" class = "pimg"src="{{user_profile.profileimg.url}}">
      </div>
      <label class = "upload">
        select image
        <input type="file" name="image" value="" class="form-control file" id="inputEmail4">
    </label>
      <div class="bio">
      <label for="inputbio" >BIO</label><br>
      <textarea id="inputbio" name="bio" rows="3" cols="40" style="resize: none; margin-bottom: 20px;" class="form-control" >{{user_profile.bio}}</textarea>
    </div>
      <div class="location">
      <label for="inputAddress" class="form-label">Location</label><br>
      <input type="text" name="location" value="{{user_profile.location}}" class="form-control" id="inputAddress" placeholder="1234 Main St">
       <div>
           <button class="upload save" href="{% url 'editprofile' %}"> Save </button>
           <a  class="back" href="{% url 'post'%}" > back </a>


       </div>
      </div>
  </div>
</div>


  </form>
  </div>
</div>
{%endblock%}