{% extends 'core/indexbase.html'%}
{% load crispy_forms_tags %}
{% load static%}
{%block title%}
Search
{%endblock%}
{% block main_block %}


<head>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style>
.tags{
	text-decoration: none;
    padding: 9px;
    border-radius: 11px;
	background-color: #005555;
    border: 1px solid #005555;
    color: #198754;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color:white ;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}
</style>
</head>
<body>

    <div class="container">

        <div style="background-color:#A1E3D8 ">
        <h1 class=" text-black fw-light bg-opacity-80 shadow p-2 mb-4 text-center"><strong>Search Results </strong></h1>
        </div>



                    {% if posts %}

                {% for post in posts %}
                <center>


                    <div class="card mb-3 shadow p-3 mb-4 " style="max-width: 700px;height:500px">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{post.user.profile.profileimg.url}}" class=" rounded-circle img-fluid user-avatar"
                                     style="height: 30%; width: 60%;" alt="avatar-img">
                                <div><strong>@{{post.user.username}}</strong></div>

                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="{{post.get_post_url}}" target="_self">
                                                    <img class="img-fluid rounded-start" style="height: 200px; width: 300px;" src="{{ post.get_picture_url }}"
                                                        alt="post-img">
                                                </a><br>


                                   <br><h3 class="card-title"><a class="text-dark fw-normal" style="text-decoration: none;" href="{% url 'details' post.id %}">{{post.title}}</a></h3>
                                    <p><small>{{post.created_at}}</small></p>
                                    <p class="card-title"><strong>Category</strong> : {{post.category}}</p><br>
                                    <p class="card-text">
                                        {{post.content|slice:":100" }}... <a href="{{post.get_post_url}}" >  <small >Read more</small></a>
                                    </p>
                                     <div>
                                                             {% for tag in post.tags.all %}
                                                                <a class="tags" style ="padding:6px; font-weight: bold;" href="{% url 'tagged' tag.slug %}">#{{ tag }}</a>
                                                             {% endfor %}
                                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>

                </center>
                {% endfor %}


            {% else %}
                <h2 style="color: red;" class=" text-center shadow p-2 mb-4 ">No Results For Your Search!</h2>
            {% endif %}

    </div>


    </div>






</body>

{% endblock %}